<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<style>
		.box{
			color:blue;
		}
		.IMG{
			width:100px;
			height:120px;
		}
	</style>
	<body>
		<div id="app">
			<p style="color:red">ng-bind vs 指令:v-text</p>
			   <p v-text="name"></p>
			
			
			<p style="color:red">ng-html vs 指令:v-html</p> 
			   <p v-html="html"></p>
			 
			 
			<p style="color:red">ng-model vs 指令:v-model</p>
			   <!--input-->
			   <input v-model="name" />
			   <!--select-->
			   <select v-model="color">
			   	  <option value="red">red</option>
			   	  <option value="green">green</option>
			   	  <option value="blue">blue</option>			   	  
			   </select>
			   <textarea v-model="name"></textarea>
			 
			 
			<p style="color:red">ng-show vs 指令:v-show</p>
			    <p v-show="!bool">显示、隐藏</p>
			   
			<p style="color:red">ng-if vs 指令:v-if</p>
			   <p v-if="bool">显示、隐藏</p>
			   
			   <p v-else>v-else</p>
			
			
			<p style="color:red">指令:v-bind:class{}  /  :class{} </p>
			    <p v-bind:class="{'box':isRed}">添加类名1</p>
			    <p :class="{'box':isRed}">添加类名2</p>
			    
			<p style="color:red">指令:v-bind:style{}  /  :style{} </p>    
			    <p v-bind:style="{color:'pink',fontSize:num+'px'}">添加样式1</p>
			    <p :style="{color:'yellow',fontSize:num+'px'}">添加样式2</p>
			    
			<p style="color:red">指令:v-on:click /  @click </p>
			   <button v-on:click="btn1">OK1</button>
			   <button @click="btn2">OK2</button>
			
			<p style="color:red">指令:v-for</p>
			    <!--<ul></ul>-->
			   <ul>
			     <li v-for="(index,arr) in arrs">序号：{{$index+1}}姓名：{{arr.name}}技能：{{arr.skill}}</li>
			   </ul>
			   <!--<select></select>-->
			   <select>
			   	  <option v-for="arr in arrs">{{arr.skill}}</option>
			   </select>
			   
			<p style="color:red">指令:v-bind:src / :src </p>
			   <img v-bind:src='src' :class="{'IMG':isRed}"/>
			   <img :src='src' :class="{'IMG':isRed}"/>
			
			<p style="color:red">指令:v-href</p>
			    <a v-bind:href="href">链接</a>
			    <a :href="href">链接2</a>
			
			
			
			<p style="color:red">计算属性   conputed:{b:function(){return a+4}}</p>
			   <p>{{b}}</p>
		</div>
	</body>
	<script src="js/vue.js"></script>
	<script>
		new Vue({
			el:"#app",
			data:{
				color:'red',
				name:'xiuxiu',
				html:"<p>123<span>456</span></p>",
				bool:false,
				isRed:true,
				num:30,
				src:'img/1.jpg',
				href:"http://www.baidu.com",
				arrs:[{
					name:'long',
					skill:'JS',
				},{
					name:'xiu',
					skill:'HTML',
				},{
					name:'zhen',
					skill:'CSS',
				}]
			},
			methods:{
				btn1:function(){
					console.log(1)
				},
				btn2:function(){
					console.log(2)
				}
			},
			computed:{
				b:function(){
					return this.num*3
				}
			}
			
		})
	</script>
</html>
